{% extends 'base.html' %}

{% block title %}დაგავიწყდათ პაროლი{% endblock %}

{% block page_styles %}
.main-content {
    padding-bottom: 80px;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-header">
        <h2>დაგავიწყდათ პაროლი?</h2>
    </div>
    <form id="forgotPasswordForm" class="form" method="post">
        {%csrf_token %}
        <div class="form-group floating-label">
            <input type="email" id="forgotEmail" name="email" placeholder=" " required/>
            <label for="forgotEmail">ელექტრონული ფოსტა</label>
        </div>

        <button type="submit" class="submit-btn">გაგზავნა</button>

        <div class="switch-form">
            <p>გაგახსენდათ პაროლი? <a href="{% url 'login' %}" class="slide-link" data-slide="slide-right">შესვლა</a></p>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="../static/js/forgotpassword.js"></script>
{% endblock %}