{% extends 'base.html' %}

{% block title %}ახალი პაროლი{% endblock %}

{% block page_styles %}
    .main-content {
    padding-bottom: 80px;
    }

    .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    }
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-header">
            <h2>შეიყვანე ახალი პაროლი</h2>
        </div>
        <form id="forgotPasswordForm" class="form" method="post">
            {% csrf_token %}
            <div class="form-group floating-label" style="position:relative;">
                <input type="password" id="loginPassword" name="password" placeholder=" " required/>
                <label for="loginPassword">პაროლი</label>
                <span toggle="#loginPassword" class="toggle-password" style="
                position:absolute;
                top:50%;
                right:10px;
                cursor:pointer;
                color:grey;
                font-size:1rem;
                transform:translateY(-50%);
            ">
                <i class="fa fa-eye"></i>
            </span>
            </div>
            <button type="submit" class="submit-btn">გაგზავნა</button>

            <div class="switch-form">
                <p>გაგახსენდათ პაროლი? <a href="{% url 'login' %}" class="slide-link"
                                          data-slide="slide-right">შესვლა</a></p>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="../static/js/forgotpassword.js"></script>
{% endblock %}