{% extends 'base.html' %}

{% block title %}ავტორიზაცია{% endblock %}

{% block nav_register_active %}class="active"{% endblock %}

{% block content %}
<div class="container fade-in" style="
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
">
    <div class="form-header">
        <h2>ავტორიზაცია</h2>
    </div>
    <div class="form-container">
        <form id="signupForm" class="form" method="post">
            {% csrf_token %}
            <div class="form-group floating-label">
                <input type="text" id="signupName" name="name" placeholder=" " required />
                <label for="signupName">სახელი და გვარი</label>
            </div>

            <div class="form-group floating-label">
                <input type="email" id="signupEmail" name="email" placeholder=" " required />
                <label for="signupEmail">ელექტრონული ფოსტა</label>
            </div>

            <div class="form-group floating-label" style="position:relative;">
                <input type="password" id="loginPassword" name="password" placeholder=" " required />
                <label for="loginPassword">პაროლი</label>
                <span toggle="#loginPassword" class="toggle-password" style="
                    position:absolute;
                    top:50%;
                    right:10px;
                    cursor:pointer;
                    color:grey;
                    font-size:1rem;
                    transform:translateY(-50%);
                ">
                    <i class="fa fa-eye"></i>
                </span>
            </div>

            <div class="check-box">
                <input type="checkbox" id="agreeTerms" name="agree" required />
                <label for="agreeTerms">ვეთანხმები წესებსა და პირობებს</label>
            </div>

            <button type="submit" class="submit-btn">
                <i class="fa-solid fa-user-plus" style="margin-right: 4px;"></i>
                რეგისტრაცია
            </button>

            <div class="switch-form">
                <p>უკვე გაქვთ ანგარიში? <a href="{% url 'login' %}" class="slide-link" data-slide="slide-right">შესვლა</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="../static/js/signup.js"></script>
{% endblock %}